// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定
//---------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor: #b01fe8; //主色
$secondaryColor: #6c1bb8; //輔色
$lightColor: #fec003; //點綴
$linkColor: #6c1bb8; //連結
$importantColor: #eb0202; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #0066cc;
$color-green: #298729;
$color-orange: #d04500;
$color-red: #d30000;
$color-yellow: #fec003;
$color-purple: #781f79;
$color-gray: #999;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #292929; //一般字的顏色
$btn-word: #292929; //按鈕字的顏色
// 連結顏色
$aColor: #b01fe8;
$aHover: #6c1bb8;
$aFocus: #ff0088;
// 表單focus顏色
$form-focus: #b01fe8; //表單
$form-btn: #0066cc; //表單
//------------------------------------------------------字型--------//
// 字型設定
$font-family: Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體,
  Arial, sans-serif;
$font-size: 1em;
//------------------------------------------------------格線系統-----//
// 格線系統
$grid-columns: 12 !default; //格線欄位數
$grid-gutter-width: 30px !default; //左右padding
$container-max: 1300px !default; //container最大寬
//mediaquery
$screen-lg: 1400px !default; //電腦
$screen-md: 992px !default; //平板
$screen-sm: 768px !default; //手機
$screen-xs: 576px !default; //極小尺寸 - hyui
$screen-xs-flex: 320px !default; //極小尺寸 - flex

//--------------------------------------------------------客製化------//
$rounded-angle: 10px; //整站導角
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99); //動態預設

//共用設定
$logo: url(../images/mp/patents/logo.png);
$fontColor: #292929;
$menuColor: #c961fc;
$menuHover: #c961fc; //menu滑過顏色
$menuHover2: #d98eff; //展開menu滑過顏色
$subMenuColor: #b01fe8;
$subMenuHover: #6c1bb8;
$advSearchColor: #6c1bb8;

$fatfooterBgColor: #333; //fatFooter 底色
$fatfooterNum: 7; //fatFooter數量
$fatfooterColor: #c961fc; //fatFooter箭頭hover顏色 第一層顏色
$fatfooterHover: #d98eff; //fatFooter箭頭hover顏色 第二層顏色
$footerColor: #d98eff; //footer字hover

//mp區域
$sectionTitle: #6c1bb8; //section標題
$mpSliderPage: #6c1bb8; //mpSlider頁碼底色

$quickLink: #b01fe8; //快速連結
$quickLinkHover: #6c1bb8; //快速連結hover

$tabBtn: #d1d1d1; //頁籤
$tabBtnActive: linear-gradient(90deg, #8a0acf 0%, #c11aeb 100%);
$tabBtnHover: #6c1bb8;

$timeColor: #4c1795; //news時間顏色

$columnMore: $tabBtnActive; //兩欄more顏色

$judgmentColor: #6c1bb8; //近期重要判決icon底色
$judgmentColor2: #b01fe8; //近期重要判決文字hover

$resourceBg: url(../images/mp/patents/source_bg.jpg);
$resourceMore: $fontColor;

//專利版本
$th1: #5d0981;
$th2: #79239e;
$th3: #9443b7;
$thb: #9c57ba;
$tRB: #9c57ba;
$ipcTr1: #79239e;
$ipcTr2: #9c57ba;

$faqColor: #6c1bb8;

$innerBannerLine: #ff0088;
$innerBanner: url(../images/mp/patents/innerBanner.png);
$sourceBg: url(../images/mp/patents/source_bg.jpg);
$innerSvg: url(../images/mp/patents/innerBg.svg);

$npbg1: url(../images/mp/patents/card_bg.jpg) center 0;
$npbg2: url(../images/mp/patents/source_bg.jpg) center bottom;
$npNodebg1: #5d0981;
$npNodebg2: #9443b7;
$npNodebg3: #e1e1e1;
