// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定
//---------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor: #ca4a00; //主色
$secondaryColor: #98350d; //輔色
$lightColor: #fec003; //點綴
$linkColor: #98350d; //連結
$importantColor: #eb0202; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #0066cc;
$color-green: #298729;
$color-orange: #d04500;
$color-red: #d30000;
$color-yellow: #fec003;
$color-purple: #781f79;
$color-gray: #999;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #292929; //一般字的顏色
$btn-word: #292929; //按鈕字的顏色
// 連結顏色
$aColor: #ba4501;
$aHover: #98350d;
$aFocus: #ffab00;
// 表單focus顏色
$form-focus: #ca4a00; //表單
$form-btn: #0066cc; //表單
//------------------------------------------------------字型--------//
// 字型設定
$font-family: Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體,
  Arial, sans-serif;
$font-size: 1em;
//------------------------------------------------------格線系統-----//
// 格線系統
$grid-columns: 12 !default; //格線欄位數
$grid-gutter-width: 30px !default; //左右padding
$container-max: 1300px !default; //container最大寬
//mediaquery
$screen-lg: 1400px !default; //電腦
$screen-md: 992px !default; //平板
$screen-sm: 768px !default; //手機
$screen-xs: 576px !default; //極小尺寸 - hyui
$screen-xs-flex: 320px !default; //極小尺寸 - flex

//--------------------------------------------------------客製化------//
$rounded-angle: 10px; //整站導角
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99); //動態預設

//共用設定
$logo: url(../images/mp/tradeSecrets/logo.png);
$fontColor: #292929;
$menuColor: #ed6d05;
$menuHover: #ed6d05; //menu滑過顏色
$menuHover2: #ff8b23; //展開menu滑過顏色
$subMenuColor: #ca4a00;
$subMenuHover: #98350d;
$advSearchColor: #98350d;

$fatfooterBgColor: #333; //fatFooter 底色
$fatfooterNum: 7; //fatFooter數量
$fatfooterColor: #ed6d05; //fatFooter箭頭hover顏色 第一層顏色
$fatfooterHover: #ff8b23; //fatFooter箭頭hover顏色 第二層顏色
$footerColor: #ff8b23; //footer字hover

//mp區域
$sectionTitle: #98350d; //section標題
$mpSliderPage: #98350d; //mpSlider頁碼底色

$quickLink: #ca4a00; //快速連結
$quickLinkHover: #98350d; //快速連結hover

$tabBtn: #d1d1d1; //頁籤
$tabBtnActive: linear-gradient(90deg, #98350d 0%, #ca4a00 100%);
$tabBtnHover: #98350d;

$timeColor: #98350d; //news時間顏色

$columnMore: $tabBtnActive; //兩欄more顏色

$judgmentColor: #98350d; //近期重要判決icon底色
$judgmentColor2: #ca4a00; //近期重要判決文字hover

$resourceBg: url(../images/mp/tradeSecrets/source_bg.jpg);
$resourceMore: $fontColor;

//專利版本
$th1: #5f2812;
$th2: #7d371b;
$th3: #a04825;
$thb: #ca4a00;
$tRB: #ca4a00;
$ipcTr1: #7d371b;
$ipcTr2: #ca4a00;

$faqColor: #98350d;

$innerBannerLine: #ffab00;
$innerBanner: url(../images/mp/tradeSecrets/innerBanner.png);
$sourceBg: url(../images/mp/tradeSecrets/source_bg.jpg);
$innerSvg: url(../images/mp/tradeSecrets/innerBg.svg);

$npbg1: url(../images/mp/tradeSecrets/card_bg.jpg) center 0;
$npbg2: url(../images/mp/tradeSecrets/source_bg.jpg) center bottom;
$npNodebg1: #5f2812;
$npNodebg2: #a04825;
$npNodebg3: #e1e1e1;

$anchorNavColor: #ff8a46;
$anchorNavHover: #ca4a00;
