.breadcrumb {
  padding: 0.1em 0em 0.1em;
  font-size: 0.875rem;
  margin: 0px auto 2rem;
  ul {
    @include li-reset;
    li {
      display: inline-block;
      margin: 0px 0.1em 0.1em 0px;
      &:before {
        @extend %slash;
      }
      &:first-child:before {
        content: "";
        display: inline-block;
        color: #666;
        margin-left: 0;
        padding: 0;
      }
    }
  }
  a {
    @include aSetting_nocolor;
  }
}
