@charset "utf-8";
// 文章標題
h1.title,
h2.title {
  line-height: 1.25em;
  margin: 0.4em 0;
}

// .tt{ color: #222; }
.cp {
  .pic {
    float: left;
    margin: 0px 1em 1em 0;
    width: auto;
    width: 45%;
    max-width: 400px;
    background: #fff;
    overflow: hidden;
    // padding: 0.5em 0.5em 0.2em;
    box-shadow: 0 6px 27px 0 rgba(0, 0, 0, 0.2);
    img {
      float: none;
      width: 100%;
      margin: 0;
      display: block;
    }
    figcaption {
      text-align: center;
      display: block;
      font-size: 1em;
      padding: 1rem;
    }
    @include screen("mobile") {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }
  p {
    text-indent: 2em;
  }
  table {
    background: #fff;
  }
  img {
    &.float_left {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen("mobile") {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen("mobile") {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
  }
}
.cpLetters {
  padding: 2rem;
  margin-top: 8px;
  margin-bottom: 30px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgb(230, 230, 230) 0%,
    rgb(255, 255, 255) 100%
  );
  box-shadow: 0 6px 27px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  &::before {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $tabBtnActive;
  }
  caption {
    display: none;
  }
  table {
    background: transparent;
    tr {
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: 0;
      }
    }
    th,
    td {
      border: 0;
      background: transparent;
    }
    th {
      vertical-align: top;
    }
    td {
      p {
        text-indent: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
      i,
      em {
        font-style: normal;
        padding: 0 4px;
        border-radius: 2px;
      }
      i {
        background: $aFocus;
        color: #fff;
      }
      em {
        background: yellow;
        color: $fontColor;
      }
    }
  }
}
// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $tabBtnActive;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;
    &:before {
      content: "·";
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.32em;
      left: 0.1em;
      color: #666;
    }
    .file_name {
      line-height: 1.8em;
      margin: 0 0.5em 0 0;
      color: #222;
      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;
        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
  }
}

// 外部連結
.web_link {
  margin: 1em 0;
  @extend %clearfix;
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $tabBtnActive;
    }
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0.5em 0;
    border-bottom: solid 1px #eee;
    padding-left: 1.5em;
    &:before {
      content: "·";
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.35em;
      left: 0.1em;
      color: #666;
    }
    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting_nocolor;
    }
  }
}
.anchorBlock {
  display: flex;
  padding-bottom: 2rem;
  align-items: flex-start;
  position: relative;
  .anchorNav {
    flex: 0 0 300px;
    padding: 20px;
    background: #333;
    margin-right: 2rem;
    border-radius: 8px;
    position: sticky;
    top: 50px;
    @include screen("mobile") {
      display: none;
    }
    ul {
      @include li-reset;
      li {
        a {
          color: #fff;
          padding: 4px 8px;
          display: block;
          &:hover,
          &:focus-visible {
            color: $anchorNavColor;
          }
        }
        > ul {
          padding-left: 1rem;
          margin-top: 8px;
        }
      }
    }
    > ul {
      > li {
        > a {
          font-weight: bold;
          color: $anchorNavColor;
          &:hover {
            // text-decoration: underline;
            background: $anchorNavHover;
            border-radius: 3px;
            color: #fff;
          }
        }
      }
    }
  }
  .anchorContent {
    flex: 1 1 auto;
  }
}
