.npCard {
  margin: 0.2em 0;
  padding: 0.5em 0 0.5em;
  .Flex-set {
    align-items: stretch;
  }
  .card {
    width: 100%;
    perspective: 1000px;
    outline: none; // 移除默認的 focus 樣式，之後會自定義
    position: relative;

    &:focus-visible {
      outline: 2px solid $aFocus; // 聚焦時卡片邊框樣式
      .card-inner {
        transform: rotateY(180deg); // 當卡片被 focus 時觸發翻轉
      }
    }
    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.6s;
      &:hover {
        transform: rotateY(180deg); // 保持 hover 的翻轉效果
      }
    }

    .card-front,
    .card-back {
      // position: absolute;
      width: 100%;
      // height: 100%;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f0f0f0;
      border-radius: 6px;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
      padding: 2em;
      box-sizing: border-box;
      a {
        text-decoration: none;
        &:focus-visible {
          outline: 2px solid #ff5722; // 當鏈接獲得焦點時的樣式
        }
      }
    }
    .card-front {
      position: absolute;
      height: 100%;
      justify-content: center;
      font-size: 1.5em;
      line-height: 160%;
      text-align: center;
      font-weight: bold;
      color: $secondaryColor;
      background: $npbg1;
      background-size: cover;
    }
    .card-back {
      height: 100%;
      transform: rotateY(180deg);
      background: $npbg2;
      background-size: cover;
      justify-content: flex-start;
      .cardTitle {
        font-weight: bold;
        margin-bottom: 16px;
        text-align: center;
        font-size: 1.25em;
        color: #fff;
        a {
          color: #fff;
        }
      }
      ul {
        @include li-reset;
        li {
          margin-bottom: 4px;
          a {
            text-align: center;
            display: block;
            padding: 6px 8px;
            background: #fff;
            color: $fontColor;
            border-radius: 2px;
            &:hover,
            &:focus-visible {
              background: #333;
              color: #fff;
            }
          }
        }
      }
    }

    &:focus-within .card-inner {
      transform: rotateY(180deg); // 當背面的鏈接獲得焦點時保持翻轉
    }
  }
}
.np {
  position: relative;
}
.outer {
  ul {
    position: unset;
    top: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    margin: 0;
    list-style: none;
    width: 33%;
  }
  ul:nth-child(1) {
    background: #dedede;
  }
  ul ul {
    background: #c8c8c8;
  }
  ul ul ul {
    background: #b1b1b1;
  }
  ul:not(:first-child) {
    left: 100%;
    display: none;
    width: 100%;
  }
  li.hasChild > a {
    color: orange;
  }
  li.active > a {
    color: red;
  }
  li.active > ul {
    display: block;
  }
}
