* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
}

// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  background: #dfdfdf;
  @include screen("mobile") {
    padding-top: 60px;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss
}

.main {
  position: relative;
  margin: 0 auto;
  .container {
    background: #fff;
  }
  // 可先設定一個中央區塊最大寬，限制accesskey對齊
  h2.title {
    line-height: 1.25em;
    position: relative;
    padding-bottom: 16px;
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $tabBtnActive;
    }
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  > .container {
    @include gutter(120px); //gutter 代表左右要留白
    // padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @include screen("tablet") {
      @include gutter(80px);
    }
    @include screen("mobile") {
      @include gutter(60px);
    }
  }
  .innerBanner {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    @include screen("tablet") {
      width: 100%;
      height: 240px;
      background-image: $innerBanner;
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: cover;
      padding-left: 2rem;
      padding-top: 0;
      border-radius: 20px;
    }
    @include screen("mobile") {
      background: $sourceBg;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      height: auto;
      border-radius: 6px;
      overflow: hidden;
      padding: 1rem 2rem;
      box-sizing: border-box;
      margin-bottom: 1rem;
    }
    .bannerTitle {
      color: #fff;
      font-size: 1.5em;
      font-weight: bold;
      width: 34%;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 2rem;
      box-sizing: border-box;
      position: relative;
      z-index: 1;
      @include screen("tablet") {
        padding-right: 0;
      }
      @include screen("mobile") {
        padding: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
      }
      &::after {
        content: "";
        width: 50px;
        height: 2px;
        display: block;
        background: $innerBannerLine;
        margin-left: 1rem;
        @include screen("tablet") {
          width: 40%;
        }
        @include screen("mobile") {
          display: none;
        }
      }
    }
    .banner {
      width: 76%;
      height: 280px;
      border-radius: 20px;
      background-image: $innerBanner;
      background-repeat: no-repeat;
      background-position: right bottom;
      position: relative;
      z-index: 1;
      @include screen("tablet") {
        display: none;
      }
    }
    &::after {
      content: "";
      width: 601px;
      height: 302px;
      display: block;
      background-image: $innerSvg;
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      left: 0;
      top: 0;
      @include screen("tablet") {
        display: none;
      }
    }
  }
  .center_block {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
    padding-bottom: 2rem;
    .subMenu.node3 {
      overflow: hidden;
      margin-bottom: 30px;
      padding-top: 2px;
      padding-left: 2px;
      @include screen("mobile") {
        overflow: visible;
      }
      &:has(+ .subMenu.node4) {
        margin-bottom: 1rem;
      }
      .subMenuToggle {
        display: none;
        @include screen("mobile") {
          display: block;
          font-size: 1.125em;
          font-weight: bold;
          width: 100%;
          margin: 0;
          position: relative;
          border: 1px solid rgb(224, 224, 224);
          &:focus {
            border: 1px solid rgb(237, 237, 237);
          }
          &::after {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            border-top: 2px solid $fontColor;
            border-right: 2px solid $fontColor;
            transform: rotate(135deg) translateY(-50%);
            position: absolute;
            right: 2rem;
            top: 50%;
            margin-top: -12px;
            transition: all 0.5s;
          }
          &.active {
            background: $secondaryColor;
            color: #fff;
            &::after {
              border-top: 2px solid #fff;
              border-right: 2px solid #fff;
              transform: rotate(-45deg);
              margin-top: -5px;
            }
          }
        }
      }
      ul.subMenuList {
        font-size: 1.25em;
        font-weight: bold;
        @include li-reset;
        @include screen("mobile") {
          display: none;
          font-size: 1rem;
          border-radius: 0 0 4px 4px;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
          background: linear-gradient(
            0deg,
            rgb(230, 230, 230) 0%,
            rgb(255, 255, 255) 100%
          );
          padding: 0 1rem;
        }
        li {
          float: left;
          margin-right: 30px;
          position: relative;
          @include screen("mobile") {
            float: none;
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #ddd;
          }
          a {
            display: block;
            padding: 16px 4px;
            color: $fontColor;
            @include screen("mobile") {
              padding: 12px;
              text-align: center;
            }
            &::after {
              content: "";
              width: 0%;
              height: 4px;
              position: absolute;
              left: 0;
              bottom: 0;
              background: #fff;
              transition: all 0.5s;
              border-radius: 4px;
              @include screen("mobile") {
                display: none;
              }
            }
            &:hover {
              @include screen("mobile") {
                color: $subMemuHover;
              }
              &::after {
                width: 100%;
                height: 4px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: $subMemuColor;
              }
            }
            &.active {
              @include screen("mobile") {
                color: $subMemuHover;
              }
              &::after {
                content: "";
                width: 100%;
                height: 4px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: $subMemuColor;
              }
              &:hover {
                color: $subMemuHover;
              }
            }
          }
        }
      }
    }
    .subMenu.node4 {
      overflow: hidden;
      margin-bottom: 30px;
      padding: 1.5rem 1.5rem 1rem 1.5rem;
      background: #e1e1e1;
      border-radius: 6px;
      @include screen("mobile") {
        overflow: visible;
        padding: 0;
      }
      .subMenuToggle {
        display: none;
        @include screen("mobile") {
          display: block;
          font-size: 1.125em;
          font-weight: bold;
          width: 100%;
          margin: 0;
          position: relative;
          border: 1px solid rgb(224, 224, 224);
          &:focus {
            border: 1px solid rgb(237, 237, 237);
          }
          &::after {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            border-top: 2px solid $fontColor;
            border-right: 2px solid $fontColor;
            transform: rotate(135deg) translateY(-50%);
            position: absolute;
            right: 2rem;
            top: 50%;
            margin-top: -12px;
            transition: all 0.5s;
          }
          &.active {
            background: $subMemuColor;
            color: #fff;
            &::after {
              border-top: 2px solid #fff;
              border-right: 2px solid #fff;
              transform: rotate(-45deg);
              margin-top: -5px;
            }
          }
        }
      }
      ul.subMenuList {
        font-size: 1em;
        font-weight: bold;
        @include li-reset;
        @include screen("mobile") {
          display: none;
          font-size: 1rem;
          border-radius: 0 0 4px 4px;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
          background: linear-gradient(
            0deg,
            rgb(230, 230, 230) 0%,
            rgb(255, 255, 255) 100%
          );
          padding: 0 1rem;
        }
        li {
          float: left;
          margin-right: 10px;
          margin-bottom: 6px;
          position: relative;
          @include screen("mobile") {
            float: none;
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #ddd;
          }
          a {
            display: block;
            padding: 0.5rem 1rem;
            color: $fontColor;
            transition: 0.5s all;
            @include screen("mobile") {
              padding: 12px;
              text-align: center;
            }
            &:hover {
              color: #fff;
              background: $subMemuColor;
              border-radius: 4px;
              @include screen("mobile") {
                color: $subMemuColor;
                background: transparent;
              }
            }
            &.active {
              color: #fff;
              background: $subMemuHover;
              border-radius: 4px;
              @include screen("mobile") {
                color: $subMemuColor;
                background: transparent;
              }
              &:hover {
                background: $subMemuColor;
                @include screen("mobile") {
                  color: $subMemuColor;
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }
    // .pagetitle {
    //   font-size: 1.5em;
    //   line-height: 1.25em;
    //   margin: 0.4em 0;
    //   font-weight: bold;
    //   padding-bottom: 10px;
    //   position: relative;

    // }
    .bottomInfo {
      font-size: 1em;
      line-height: 1.5em;
      list-style: none;
      margin: 0 0 1em 0;
      border-top: solid 4px #ccc;
      padding: 1em 1.5em;
      box-sizing: border-box;
      ul {
        display: flex;
        flex-wrap: wrap;
        @extend %clearfix;
        @include li-reset;
        li {
          flex: 1 1 calc(100% / 4);
          margin-bottom: 0.5em;
          @include screen("tablet") {
            flex: 1 1 calc(100% / 3);
          }
          @include screen("mobile") {
            flex: 1 1 calc(100% / 2);
          }
          @include screen("xs_mobile") {
            flex: 1 1 calc(100% / 1);
            text-align: center;
          }
        }
      }
    }
  }

  .left_block {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    margin-right: 40px;

    &.stickySidebar {
      position: sticky;
      top: 50px;
    }

    &.hidden {
      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    + .center_block {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }

    @include screen("tablet") {
      display: none;

      + .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  &.small_size {
    font-size: 0.938em;
  }

  &.large_size {
    font-size: 1.125em;
  }
}

.hidden {
  display: none;
}
